.Manage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Manage-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 235, 241);
}

.Manage-ul-navs {
  display: none;
}

@media screen and (min-width: 992px) {
  .Manage-ul-navs {
    display: flex;
    margin-top: 20px;
  }
}
