.Header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hamburger-btn {
  background-color: transparent;
  border: none;
  margin-right: 10px;
  font-size: 25px;
  color: #615f5f;
}

.Header-logo {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .Header-logo {
    width: 120px;
  }
}

.Header-profile-btn {
  background-color: #00000080;
  color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
}
.Header-profile-icon {
  font-size: 25px;
}

.logout {
  background-color: #dc3545;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.logout-btn {
  background-color: transparent;
  border: 0px;
  color: #fff;
  width: 100%;
}
