.Header-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #00000015;
  margin-bottom: 20px;
}

.Header-logo {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .Header-logo {
    width: 120px;
  }
}

.Header-profile-btn {
  background-color: #00000080;
  color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
}
.Header-profile-icon {
  font-size: 25px;
}

.drop-down-container {
  position: absolute;
  top: 80px;
  right: 25px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #00000030;
}

.drop-down-container::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 12px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #00000030;
  transform: rotate(45deg);
  border-bottom: none;
  border-right: none;
}

.drop-down-ul {
  padding: 0px;
  list-style-type: none;
  margin-bottom: 0px;
}
.drop-down-li {
  border-bottom: 1px solid #00000015;
  padding: 10px;
}

.drop-down-container.active {
  transform: translateY(0);
  transition: 0.5s ease;
}

.drop-down-container.inactive {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.1s ease;
}

.logout {
  background-color: #dc3545;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.logout-btn {
  background-color: transparent;
  border: 0px;
  color: #fff;
  width: 100%;
}
